@font-face {
  font-family: "GenSenRounded";
  src: url("../../assets/fonts/GenSenRounded/GenSenRounded2TW-EL.otf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}
@font-face {
  font-family: "GenSenRounded";
  src: url("../../assets/fonts/GenSenRounded/GenSenRounded2TW-L.otf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("../../assets/fonts/GenSenRounded/GenSenRounded2TW-R.otf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("../../assets/fonts/GenSenRounded/GenSenRounded2TW-M.otf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("../../assets/fonts/GenSenRounded/GenSenRounded2TW-B.otf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "GenSenRounded";
  src: url("../../assets/fonts/GenSenRounded/GenSenRounded2TW-H.otf")
    format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

html body,
.ant-typography,
.ant-btn,
.ant-menu,
.ant-input,
.ant-card,
.ant-table,
.ant-modal,
.ant-collapse,
.ant-descriptions,
.ant-col {
  font-family: GenSenRounded, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
}
