.board {
  box-sizing: content-box;
  width: 800px;
  height: 900px;
  margin: 0 auto;
  border: 2px solid #000;
  position: relative;
  background: transparent;
  background-color: rgba(218, 164, 94, 0.6);
  .top {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    background: transparent;
    margin-bottom: 100px;
  }
  .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    background: transparent;
    border-top: 2px solid #000;
  }
  .item {
    width: 100px;
    height: 100px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    &:nth-child(8n + 8) {
      border-right: none;
    }
  }
}
